body {
  min-height: 100vh;
  height: calc(100vh - 20px);
}

.lazy-div {
  height: auto;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5em;
}

.navBar{
  background-color: #010c1b;
  color: rgb(69, 233, 178)  !important;
  z-index: 9;
}

.navItmDiv{
  display: flex ;
  justify-content: flex-end ;
}

.navMain{
  box-shadow: 0 6px 2px -2px gray;
}

.dummyDiv{
  width: 100vw;
  height: 60vh;
}
